name: Build

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        go-version: ["1.15", "1.16", "1.17"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Make
        run: make build-all-amd
      - name: Upload Build as Artifact
        uses: actions/upload-artifact@v2
        with:
          name: macos_amd
          path: dist/macos_amd
      - name: Upload Build as Artifact
        uses: actions/upload-artifact@v2
        with:
          name: linux
          path: dist/linux
      - name: Upload Build as Artifact
        uses: actions/upload-artifact@v2
        with:
          name: windows
          path: dist/windows
